<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>
          <nuxt-link to="/lists">←</nuxt-link>
          {{list.title}}
        </h1>
      </v-col>
      <v-col align="right">
        <v-chip
          class="ma-2"
          @click="editCat = !editCat"
          v-if="!editCat"
          @keyup.enter="updateCat()"
        >{{list.category}}✎</v-chip>
        <v-text-field
          v-if="editCat"
          @keyup.enter="updateCat()"
          :label="list.category"
          v-model="newCat"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="list.item.length > 5">
      <v-col>
        <v-text-field label="Добавить..." v-model="newItem" @keyup.enter="addItem()"></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col align="right" class="pr-6">
        <v-chip class="ma-2">{{countItems(list)}}</v-chip>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-list one-line shaped>
          <template v-for="(item, index) in list.item">
            <v-list-item rounded>
              <v-list-item-content>
                <v-list-item-title v-text="(index + 1) + '. ' + item.data"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-row>
                  <v-col>
                    <v-btn @click="updateStep()" :text="true">
                      <v-checkbox v-model="item.bool"></v-checkbox>
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn @click="removeItem(index)" :text="true" :elevation="5">🗑</v-btn>
                  </v-col>
                </v-row>
              </v-list-item-action>
            </v-list-item>
            <v-divider></v-divider>
          </template>
        </v-list>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field label="Добавить..." v-model="newItem" @keyup.enter="addItem()"></v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      newItem: "",
      editCat: false,
      newCat: ""
    };
  },
  async asyncData({ error, params }) {
    try {
      const { data } = await axios.get(
        "https://homeappdb.herokuapp.com/lists/" + params.id,
        {}
      );
      return {
        list: data
      };
    } catch (e) {
      error({
        statusCode: 503,
        message: "Unable to fetch blogs at this time"
      });
    }
  },
  methods: {
    updateStep() {
      var items = this.list.item;
      axios({
        method: "PUT",
        url: "https://homeappdb.herokuapp.com/lists/" + this.listId,
        data: {
          item: items
        }
      });
    },
    updateCat() {
      var items = this.list.item;
      axios({
        method: "PUT",
        url: "https://homeappdb.herokuapp.com/lists/" + this.listId,
        data: {
          category: this.newCat
        }
      });
      this.editCat = false;
      this.list.category = this.newCat;
      this.newCat = "";
    },
    addItem() {
      var items = this.list.item;
      items.push({
        data: this.newItem,
        bool: false
      });
      axios({
        method: "PUT",
        url: "https://homeappdb.herokuapp.com/lists/" + this.listId,
        data: {
          item: items
        }
      });
      this.newItem = "";
    },
    removeItem(index) {
      var items = this.list.item;
      items.splice(index, 1);
      axios({
        method: "PUT",
        url: "https://homeappdb.herokuapp.com/lists/" + this.listId,
        data: {
          item: items
        }
      });
    },
    countItems(list) {
      var len = list.item.length;
      var done = 0;
      var i = 0;
      for (i = 0; i < len; i++) {
        if (list.item[i].bool) {
          done++;
        }
      }
      var final = done + " / " + len;
      return final;
    }
  },
  computed: {
    listId() {
      return this.$route.params.id;
    }
  }
};
</script>

<style>
</style>