<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Семейные списки</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-list two-line subheader>
          <v-list-item v-for="list in lists" :key="list.title" :to="'/lists/' + list.id">
            <v-list-item-content>
              <v-list-item-title v-text="list.title"></v-list-item-title>
            </v-list-item-content>
            <v-chip class="ma-2">{{list.category}}</v-chip>
            <v-chip class="ma-2">{{countItems(list)}}</v-chip>
            <v-list-item-action>
              <v-btn icon>
                <v-icon color="grey lighten-1">mdi-information</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h1>Создать новый список</h1>
        <v-form ref="form" v-model="valid">
          <v-text-field label="Имя списка" v-model="name" :rules="namesRules"></v-text-field>
          <v-btn @click="validate">Создать</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: null,
      cat: "категория",
      valid: false,
      namesRules: [v => !!v || "Необходимо ввести имя"]
    };
  },
  async asyncData({ error, params }) {
    try {
      const { data } = await axios.get(
        "https://homeappdb.herokuapp.com/lists",
        {}
      );
      return {
        lists: data
      };
    } catch (e) {
      error({
        statusCode: 503,
        message: "Unable to fetch blogs at this time"
      });
    }
  },
  methods: {
    countItems(list) {
      var len = list.item.length;
      var done = 0;
      var i = 0;
      for (i = 0; i < len; i++) {
        if (list.item[i].bool) {
          done++;
        }
      }
      var final = done + " / " + len;
      return final;
    },
    reset() {
      this.$refs.form.reset();
      this.valid = false;
    },
    validate() {
      if (this.name != null) {
        this.valid = true;
        this.createCustomer();
        this.reset();
      }
    },
    createCustomer() {
      axios({
        method: "POST",
        url: "https://homeappdb.herokuapp.com/lists",
        headers: {
          "Content-Type": "application/json"
        },
        data: {
          title: this.name,
          category: this.cat
        }
      });
      this.reset();
    },
    updateStep(id, step) {
      axios({
        method: "PUT",
        url: "https://homeappdb.herokuapp.com/customers/" + id,
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNTc5MDc3MjIxLCJleHAiOjE1ODE2NjkyMjF9.fsEmWOWUazWvKEwqbUv1q4OZ2HMlVWNkyhqr8faCzF4`
        },
        data: {
          Step: step
        }
      });
    }
  }
};
</script>

<style>
</style>